@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Image Builder</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        @*<button id="ptint">print</button>*@
        @Html.ActionLink("Print", "CreateTestImg", "Home") <br />
    </div>
</div>


<script>
    $('#print').click(function () {
        paint();
    });
</script>